.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; /* Adiciona um espaço entre as imagens */
}

.grid img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Adiciona bordas arredondadas */
}
